asgiref==3.8.1
beautifulsoup4==4.12.3
bootstrap4==0.1.0
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
django-bootstrap5==24.3
djangorestframework==3.15.2
idna==3.10
mysqlclient==2.2.4
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3

selenium==4.25.0
